@model Day1Demo2.Models.Guest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guest</title>
</head>
<body>
    <div> 
        Tack @Model.Name!
    </div>
</body>
</html>
