@model Day1Demo2.Models.Guest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <p>Välkommen till Julfest!</p>
        <p>Anmäl ditt intresse här @Html.ActionLink("här", "RSVP")</p>
    </div>
</body>
</html>
