@model Day1Demo2.Models.Guest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
        <h2>Thank you @Model.Name</h2>
        @if(Model.WillAttend == true)
        {
            @:Tackar!
        }
    </div>
</body>
</html>
